// colors
$colors: (
  "primary": #db9e3f,
  'info': #4b67af,
  "info-1": #4394e4,
  "white": #fff,
  "white-btn":#fcfcfc,
  "light": #f9f9f9,
  "grey": #999,
  "grey-1": #666,
  "grey-2": #d4d9de,
  "grey-3": #d4d4d5,
  "grey-4": #7a7a80,
  "grey-bg": #ededed,
  "dark-1": #343440,
  "dark-2": #535353,
  "dark-border": #eceef0,
  "dark": #222,
  "black": #000,
  "prop-1": #7f5300,
  "prop-2": #1f3695,
  "prop-3": #781a16,
  "prop-4": #3f4a2e
);

// font size
$base-font-size: 1rem;
$font-sizes: (
  xxs: 0.6154, // 8px
  xs: 0.7692, // 10px
  sm: 0.9231, // 12px 
  md: 1, //13px 
  lg: 1.0769, // 14px
  xl: 1.2308, // 16px
  xxl: 1.5385, // 20px
  xxxl: 1.6923 // 22px
);

$flex-jc: (start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around);


$flex-ai: (start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch);


// spacing

$spacing-types: (
  m: margin, 
  p: padding
  );
$spacing-directions: (
  t: top, 
  r: right, 
  l: left, 
  b: bottom
  );
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0, 
  h: 0.1,
  1: 0.25, 
  2: 0.5, 
  q: 0.75,
  3: 1, 
  4: 1.5, 
  5: 3
  );
